html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    box-sizing: border-box;
}

.carousel {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    
    width: 100%;
    height: 100%;
}



.carousel-item {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.carousel-item a{
    width: 100%;
    
}

.carousel-item img {
    width: 100%;
    
    padding: 0;
    margin: 0;
    
}


.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #fff;
    text-align: center;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}